body {
    background-color: #2C3E50;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500vh;
    margin: 0;
}

.doctor {
    background-color: #ffffff;
    padding: 40px;
    width: 70%;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

.doctor h2 {
    color: #2C3E50;
    font-size: 28px;
    margin-top:20px;
    margin-bottom: 20px;
}

.doctor input, 
.doctor select {
    width: 90%;
    padding: 12px;
    margin: 12px auto;
    display: block;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 16px;
}

.doctor button {
    width: 90%;
    padding: 12px;
    margin-top: 20px;
    background-color: #2C3E50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .doctor {
        width: 90%;
        padding: 25px;
    }

    .doctor input {
        width: 95%;
    }
}
